.contactForm {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  color: gray;
}
.MyForm {
  background-color: white;
  height: 300px;
  padding-top: 20px;
  border-radius: 5px;
}
.textField {
  width: 280px;
  height: 20px;
  border: 2px solid gray;
}
.textArea {
  width: 602px;
  height: 40px;
  margin-top: 20px;
  border: 2px solid gray;
}
.submitButton {
  height: 30px;
  width: 150px;
  color: white;
  background-color: #E0AC69;
}
